<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">

      <div class="jumbotron bg-dark text-white">
        <h1>!GSM HUNGRY</h1><br>
        <P>광주소프트웨어마이스터고등학교의 급식 웹서비스입니다</p>
      </div>

    </div>
  </body>
</html>